@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@fontsource-variable/roboto';

:root {
  --bg-light: oklch(.95 0 0);
  --bg: oklch(.85 0 0);
  --bg-dark: oklch(.75 0 0);

  --text: oklch(.15 0 0);
  --text-muted: oklch(.35 0 0);
  --text-highlight: oklch(.85 0 0);

  --highlight: oklch(.95 0 0);
  --border: oklch(.65 0 0);
  --border-muted: oklch(.75 0 0);

  --primary: oklch(0.4 0.1 255);
  --secondary: oklch(0.4 0.1 75);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);

  --shadow-c-sm:
  inset 0 1px 2px oklch(.95 0 0),
  0 1px 2px oklch(.15 0 0),
  0 2px 4px oklch(.35 0 0);

  --shadow-c-md:
  inset 0 1px 2px oklch(.95 0 0),
  0 2px 4px oklch(.15 0 0),
  0 4px 6px oklch(.35 0 0);

  --shadow-c-lg:
  inset 0 1px 2px oklch(.95 0 0),
  0 4px 6px oklch(.15 0 0),
  0 6px 8px oklch(.35 0 0);
}

.dark {
  --bg-light: oklch(.25 0 0);
  --bg: oklch(.15 0 0);
  --bg-dark: oklch(.05 0 0);

  --text: oklch(.85 0 0);
  --text-muted: oklch(.65 0 0);
  --text-highlight: oklch(.15 0 0);

  --highlight: oklch(.58 0 0);
  --border: oklch(.45 0 0);
  --border-muted: oklch(.35 0 0);

  --primary: oklch(0.76 0.1 255);
  --secondary: oklch(0.76 0.1 75);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

.shadow-c-sm { box-shadow: var(--shadow-c-sm); }
.shadow-c-md { box-shadow: var(--shadow-c-md); }
.shadow-c-lg { box-shadow: var(--shadow-c-lg); }